<div class="container">
  <div class="row">
    <div class="col-xs-1">
    <%= render "public/shared/genre", genres: @genres %>
    
    <%= form_tag({controller:"recipes",action:"index"}, method: :get) do %>
    <%= select_tag :search, options_for_select([["〜10分", 10], ["〜60分", 60], ["〜120分", 120], ["〜180分", 180]]) %> 
    <%= submit_tag "絞り込み" %>
    <% end %>
   
    </div>
    
    <div class="col-sm-5 px-sm-0 offset-sm-1">
      <h2>レシピ一覧</h2>
    <div class="col-sm-6 px-sm-0 text-right mb-2">
      <%= link_to new_recipe_path, class:"btn btn--circle btn--circle-c btn--shadow" do %>
        <i class="fas fa-plus"></i>
      <% end %>
    </div>
    <div class="row">
      <div class="col-sm-12 px-sm-0 mx-auto mb-5">
      <table class="table text-center admin-items mb-5">
          <thead>
            <tr>
              <th>レシピID</th>
              <th>レシピ名</th>
              <th>所要時間</th>
            </tr>
          </thead>
          <% @recipes.each do |recipe| %>
          <tbody>
            <tr>
              <td class="align-middle"><%= recipe.id %></td>
              <td class="align-middle"><%= link_to recipe_path(recipe.id) do %>
                <u><%= recipe.recipe_name %></u>
              </td>
              <% end %>
              <td class="align-middle"><%= recipe.required_time %>分</td>
            </tr>
          </tbody>
          <% end %>
      </table>
      <%#= paginate @items %>   
      </div>
    </div>
  </div>
</div>
</div>
