<div class="container takasa">
  <h2>レシピ詳細</h2>

  <div class="row">
    
  <%= render "public/shared/genre", genres: @genres %>
    
    <div class="col-md-3">
      <%= image_tag @recipe.image, fallback: "no_image.jpg", class: 'img-fluid', style: 'height: 300px; width: 100%; object-fit: cover;'%>
    </div>
    <div class="col-md-5">
      <div class="mb-3 mt-3 mt-md-0">
        <h4>レシピ名</h4>
        <%= @recipe.recipe_name %>
      </div>
      <div class="mb-3">
       <h5>ジャンル</h5>
        <%= @recipe.genre.name %>
      </div>  
      <div class="mb-3">
        <h5>所要時間</h5>
        <%= @recipe.required_time %>分
      </div>

      <% if @recipe.customer == current_customer %>
        <div class="mt-3 text-right">
          <%= link_to '編集する',edit_recipe_path(@recipe.id), class: "btn btn-primary"%>
        </div>
      <% end %>
      
    </div>
  </div>

  <div class="row">
    <div class="offset-0 offset-md-4 col-md-4">
      <div class="p-3 mb-3 mb-md-0 shadow-lg">
        <h5>材料</h5>
        <%= simple_format(@recipe.ingredient) %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="p-3 shadow-lg">
        <h5>工程</h5>
        <%= simple_format(@recipe.process) %>
      </div>
    </div>
  </div>
  
  <div class = "p-3 mb-3 mb-md-0 shadow-lg">
      <%= form_with model: [@recipe, @comment] do |f| %>
        <%= f.text_area :comment, size: "80x5", placeholder: "コメントをここに" %>
        <%= f.submit "送信する" %>
    <div id="review">
      <%= f.label :review,'評価入力', class:'col-md-3 col-form-label' %>
    </div>
        <script>
          var elem = document.getElementById('review');
          var opt = {
            starOn: "<%= asset_path('star-on.png') %>",
            starOff: "<%= asset_path('star-off.png') %>",
            scoreName: "comment[review]"
            };
            raty(elem,opt);
        </script>
      <% end %>
  </div>

      <table>
        <strong>コメント一覧</strong>
        <% @recipe.comments.each do |comment| %>
            <tr>
              <td>
                <%= comment.comment %>
              </td>
              <td>
                <div id="star-rate<%= comment.id%>"></div>
                 <script>
                  var elem = document.getElementById("star-rate<%= comment.id%>");
                  var opt = {
                    size      : 36,
                    starOff   : '<%= asset_path('star-off.png') %>',
                    starOn    : '<%= asset_path('star-on.png') %>',
                    half      : false,
                    readOnly  : true,
                    score     : <%= comment.review %>
                  };
                  raty(elem,opt);
                 </script>
              </td>
              <td>
                <% if comment.customer == current_customer %>
                <%= link_to "削除", recipe_comment_path(@recipe.id, comment.id), method: :delete, class: "btn btn-danger" %>
                <% end %>
              </td>
            </tr>
        <% end %>
      </table>
    
      
    
  </div>
</div>